.other-section h3 {
    padding-block-start: 2rem;
    margin-block-start: 1rem;
    color: var(--color-3);
}

.other-section .card-body {
    background-color: var(--color-4);
}

.other-section .card-title {
    color: var(--color-1);
    letter-spacing: 0.6px;
}
.other-section .card-text {
    color: var(--color-2);
    text-transform: capitalize;
}

.other_section_card .card-body {
    text-transform: capitalize;
}

@media (min-width: 64em) {
    .other-section .other_section_card,
    .apostle-section .apostle_card {
        width: 290px;
    }
    .other-section .other_section_card .card-body {
        padding-top: 1.5rem;
    }

    .other-section .feature-container::-webkit-scrollbar {
        width: 20px;
    }

    .other-section .feature-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .other-section .feature-container::-webkit-scrollbar-thumb {
        background-color: var(--color-2);
        border-radius: 20px;
        border: 6px solid transparent;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
}

@media (min-width: 80em) {
    .other-section .other_section_card,
    .apostle-section .apostle_card {
        width: 320px;
    }
}
