.btn {
	padding: 0.9rem 2rem;
	font-size: calc(15rem / 16);
	text-transform: capitalize;
	color: var(--white);
	border-radius: 3px;
	border: none;
	outline: none;
}

.read-more {
	border: 1px solid var(--purple-shade-4);
	padding: 1rem;
}

/* .input {
	padding: 0.9rem 1rem;
	width: 80%;
	font-size: 1rem;
	border: none;
	outline: none;
	font-family: var(--font-default);
} */
