.btn {
  padding: 0.9rem 2rem;
  font-size: calc(15rem / 16);
  text-transform: capitalize;
  color: var(--white);
  border-radius: 3px;
  border: none;
}

.btn-search {
  background-color: var(--purple-shade-4);
  
}

.input {
  padding: 0.7rem 1rem;
  width: 250px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  font-family: var(--font-default);
}