.featured-specific {
    background-color: var(--color-5);
    margin-block-start: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
}
.featured-specific .card {
    box-shadow: none;
}

.featured-specific h3 {
    padding-block-start: 2rem;
    padding-block-end: 1rem;
    color: var(--color-2);
}

.featured-specific .card .card-body {
    background-color: none;
    border: none;
}
.featured-specific .card .card-body .card-title {
    color: var(--color-2);
}

.featured-specific .card-img-top {
    width: 100%;
    height: 150px;
}

.featured-specific .card-text {
    color: var(--color-3);
}

.feature-container-specific {
    box-shadow: -4px -4px 9px hsla(264, 100%, 99%, 0.6),
        4px 4px 9px hsla(263, 61%, 40%, 0.3);
}

@media (min-width: 64em) {
    .featured-specific .outer-wrapper {
        display: flex;
    }

    .featured-specific
        .outer-wrapper
        .feature-container-specific
        .card
        .card-body {
        width: 18rem;
        padding-inline-start: 0.5rem;
    }

    .featured-specific .outer-wrapper .card img {
        width: 18rem;
    }

    .featured-specific .outer-wrapper .feature-container-specific {
        width: 19.5rem;
        height: 500px;
    }

    .featured-specific
        .outer-wrapper
        .feature-container-specific::-webkit-scrollbar {
        width: 20px;
    }

    .featured-specific
        .outer-wrapper
        .feature-container-specific::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .featured-specific
        .outer-wrapper
        .feature-container-specific::-webkit-scrollbar-thumb {
        background-image: linear-gradient(var(--color-2), var(--color-4));
        border-radius: 20px;
        border: 6px solid transparent;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }

    .featured-specific .outer-wrapper {
        justify-content: space-between;
    }
}

@media (min-width: 80em) {
    .featured-specific .outer-wrapper {
        justify-content: center;
    }

    .featured-specific .outer-wrapper .feature-container-specific {
        height: 600px;
    }
    .featured-specific .outer-wrapper > div {
        margin-inline: 2.5rem;
    }
}
