.stream_download {
  background-color: var(--purple-shade-1);
  padding-block: 3rem;
}

.stream_download h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-block-end: 1rem;
}
.stream_download p {
  color: var(--purple-shade-2);
}

.stream_download h3,
.stream_download p {
  text-align: center;
}

.stream_download ul div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: -4px -4px 12px hsl(0, 100%, 98%),
    4px 6px 12px hsla(263, 61%, 40%, 1);
  background-color: var(--purple-shade-3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 0.5rem;
}

.stream_download ul li img {
  width: 25px;
  height: 25px;
}

.stream_download ul {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stream_download ul li:not(:last-child) {
  margin-block-end: 2.3rem;
}
.stream_download ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stream_download ul a span {
  text-transform: capitalize;
}
