/* * supportus hero section  */
.supportus_hero_section {
	background: url("../../assets/images/background_2.jpg") var(--color-5) top
		right/cover no-repeat;
}

.supportus_hero_section,
.supportus_hero_section .supportus_hero {
	height: 400px;
}
.supportus_hero_section .supportus_hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--white);
}

.supportus_hero_section .supportus_hero .supportus_hero_title {
	font-size: 1.4rem;
}
.supportus_hero_section .supportus_hero .supportus_hero_title span {
	color: var(--color-4);
	text-decoration: none;
	font-style: normal;
}

/* * supportus give section  */
.supportus_give .col .card {
	box-shadow: none;
	width: 330px;
}

.supportus_give .col .card.card_give {
	background-color: var(--color-5-100);
}

.supportus_give .col .card .card-body {
	padding-inline: 0.5rem;
}

.supportus_give .col .card .card-body h2 {
	font-size: 1.7rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.supportus_give .col .card .card-body h4 {
	font-size: 1.2rem;
}

.supportus_give .col .card .card-body p {
	font-size: 1rem;
	font-weight: normal;
}

.supportus_give .col .card .card-body .paragraph1 {
	margin-bottom: 0.5rem;
}

.supportus_give .col .card .card-body a {
	background-color: var(--color-2);
	color: var(--color-5);
}

/* * become_partner section */
.become_partner {
	background-color: var(--color-5);
}

.become_partner div {
	display: flex;
	flex-direction: column;
	padding: 2.5rem 1rem;
}

.become_partner div h2 {
	text-transform: uppercase;
	/* letter-spacing: 0.025rem; */
}
.become_partner div p span {
	text-decoration: none;
	color: var(--color-2);
	text-transform: capitalize;
	font-style: normal;
}

/* * covenant partnerships section  */
.covenant_partnership {
	margin-block: 2rem;
}

/* ? removes the -bs-gutter-x margin  */
.covenant_partnership .row {
	margin-inline: 0;
}

.covenant_partnership .col .covenant_wrapper .image {
	height: 250px;
	margin-inline: -0.7rem;
	overflow: hidden;
}

.covenant_partnership .col .covenant_wrapper .image img {
	width: 100%;
	height: auto;
}

.covenant_partnership .col .covenant_wrapper .card,
.tasks_ahead .col .card {
	box-shadow: none;
	width: 330px;
	margin-bottom: 0;
}

.covenant_partnership .col .covenant_wrapper .card .card-body,
.tasks_ahead .col .card .card-body {
	padding-inline: 0;
}

.covenant_partnership .col .covenant_wrapper .card .card-body h3,
.tasks_ahead .col .card .card-body h3 {
	text-transform: uppercase;
}

.covenant_partnership .col .covenant_wrapper .card .card-body ul,
.tasks_ahead .col .card .card-body ul {
	margin-bottom: 0;
}

.covenant_partnership .col .covenant_wrapper .card .card-body ul li,
.tasks_ahead .col .card .card-body ul li {
	list-style-type: square;
	padding-block: 0.2rem;
}

/* * carousel_slide  section */
.carousel_slide {
	margin-block: 1.5rem;
}

.carousel_slide .carousel {
	height: 210px;
	overflow: hidden;
}

/* * donation_options */
.donation_options .col .side_nav {
	display: flex;
	flex-direction: column;
}

.donation_options .col .side_nav .nav .nav-link {
	width: 100%;
	text-align: left;
	padding-block: 1rem;
	color: var(--bs-white);
	background-color: var(--color-2);
	margin-block: 0.2rem;
}
.donation_options .col .side_nav .nav .nav-link.active {
	background: none;
	border: 2px solid var(--color-2);
	color: var(--color-2);
}

.donation_options .col .side_nav .tab-content .tab-pane .card {
	box-shadow: none;
	width: 330px;
}

.donation_options .col .side_nav .tab-content .tab-pane .card h3 {
	font-size: 1.8rem;
	font-weight: 600;
	padding-bottom: 1rem;
	position: relative;
}
.donation_options .col .side_nav .tab-content .tab-pane .card h3::after {
	content: "";
	width: 45px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color-3);
}
.donation_options .col .side_nav .tab-content .tab-pane .card h3::after {
	content: "";
	width: 45px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color-3);
}

.donation_options
	.col
	.side_nav
	.tab-content
	.tab-pane
	.card
	.card-body
	p
	span {
	text-decoration: none;
	font-style: normal;
	color: var(--color-2);
}

.donation_options .col .side_nav .tab-content .tab-pane .card .card-body a {
	background-color: var(--color-2);
	color: var(--color-5);
	margin-block-end: 1rem;
}

@media (min-width: 48em) {
	/* * supportus hero section */
	.supportus_hero_section .supportus_hero {
		width: 370px;
	}

	.supportus_hero_section .supportus_hero .supportus_hero_title {
		font-size: 1.5rem;
	}

	/* * supportus_give section  */
	.supportus_give .col {
		display: flex;
		flex-direction: row;
	}

	/* * become_partner */
	.become_partner div {
		/* width: 500px; */
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.become_partner div p,
	.become_partner div h2 {
		width: 430px;
	}

	/* * .covenant_partnership section */
	.covenant_partnership .col .covenant_wrapper {
		display: flex;
	}

	.covenant_partnership .col .covenant_wrapper .image {
		width: 900px;
		height: 400px;
		object-fit: cover;
		object-position: center;
	}

	.covenant_partnership .col .covenant_wrapper .image img {
		width: 100%;
		height: 100%;
		/* object-fit: fill; */
	}

	.covenant_partnership .row {
		margin-inline: 1.5rem;
	}

	.covenant_partnership .col .covenant_wrapper .card {
		background-color: var(--color-4);
		padding-inline: 1rem;
		margin-left: -20rem;
		width: 700px;
		margin-top: 8rem;
	}

	.covenant_partnership .col .covenant_wrapper .card .card-body ul li {
		padding-block: 0.1rem;
		font-size: 0.9rem;
	}

	.covenant_partnership .col .covenant_wrapper .card .card-body h3 {
		font-size: 1.5rem;
	}

	/* * .tasks_ahead section */
	.tasks_ahead .col {
		display: flex;
		flex-direction: row;
	}

	/* * carousel_slide  section */
	.carousel_slide .carousel {
		height: 380px;
	}

	/* * donation_options */
	.donation_options .col .side_nav {
		flex-direction: row;
		align-items: center;
	}
	.donation_options .col .side_nav .nav .nav-link {
		width: 200px;
		padding-block: 1.5rem;
	}

	.donation_options .col .side_nav .tab-content .tab-pane .card {
		width: 450px;
		height: 280px;
	}

	.donation_options .col .side_nav .tab-content .tab-pane .card .card-body a {
		margin-inline-end: 2rem;
	}
}

@media (min-width: 64em) {
	/* * supportus hero section  */
	.supportus_hero_section,
	.supportus_hero_section .supportus_hero {
		height: 500px;
	}

	.supportus_hero_section .supportus_hero {
		width: 480px;
	}

	.supportus_hero_section .supportus_hero .supportus_hero_title {
		font-size: 1.9rem;
	}

	/* * supportus_give section */
	.supportus_give .col .card.card_give {
		padding-inline: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.supportus_give .col .card .card-body h2 {
		font-size: 1.9rem;
	}

	/* * .become_partner section */
	.become_partner {
		padding-block: 4rem;
	}

	.become_partner div p,
	.become_partner div h2 {
		width: 500px;
	}

	/* * .covenant_partnership section  */
	.covenant_partnership .col .covenant_wrapper {
		width: max-content;
		margin-inline: auto;
	}

	.covenant_partnership .col .covenant_wrapper .image {
		width: 650px;
		height: 450px;
	}

	.covenant_partnership .col .covenant_wrapper .card {
		padding: 1.8rem;
		margin-left: -15rem;
		width: 650px;
		margin-top: 12rem;
	}

	.covenant_partnership .col .covenant_wrapper .card .card-body ul li {
		padding-block: 0.3rem;
		font-size: 1rem;
	}

	.covenant_partnership .col .covenant_wrapper .card .card-body h3 {
		font-size: 1.6rem;
	}

	/* * .tasks_ahead section */
	.tasks_ahead .col .card {
		width: auto;
	}

	.tasks_ahead .col .card:nth-child(2) {
		margin-top: 17rem;
		text-align: right;
	}

	/* * carousel_slide  section */
	.carousel_slide .carousel {
		height: 600px;
	}

	/* * donation_options */
	.donation_options .col .side_nav .nav-pills {
		flex-direction: column;
	}
	.donation_options .col .side_nav .nav .nav-link {
		width: 250px;
		padding-block: 2rem;
	}

	.donation_options .col .side_nav .tab-content .tab-pane .card {
		height: auto;
		margin-inline: 3rem;
	}

	.donation_options {
		margin-block: 2rem;
	}

	.donation_options .col h2 {
		font-size: 2rem;
		padding-block: 1rem;
	}
}

@media (min-width: 80em) {
	/* * supportus hero section  */
	.supportus_hero_section,
	.supportus_hero_section .supportus_hero {
		height: 620px;
	}

	.supportus_hero_section .supportus_hero {
		width: 550px;
	}

	.supportus_hero_section .supportus_hero .supportus_hero_title {
		font-size: 2.2rem;
	}

	.supportus_hero_section .supportus_hero .supportus_hero_subtitle {
		font-size: 1.3rem;
	}

	/* * supportus_give section */
	.supportus_give {
		padding-block: 2rem;
	}

	.become_partner {
		padding-block: 6rem;
	}

	/* * .covenant_partnership section  */
	.covenant_partnership .col .covenant_wrapper .image {
		width: 750px;
		height: 480px;
	}

	.covenant_partnership .col .covenant_wrapper .card {
		margin-left: -10rem;
		margin-top: 15rem;
	}

	.donation_options {
		margin-block: 4rem;
	}
}
