.card {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    margin-inline: auto;
    background: none;
    width: 19rem;
    margin-block: 1.5rem;
}

.card,
.card img,
.card .card-body {
    border: none;
}

.card .card-body .card-title {
    text-transform: capitalize;
}

@media (min-width: 64em) {
    .card .card-body .card-title {
        margin-block-end: 1.2rem;
    }
}
