.backgroundColor {
    background-image: linear-gradient(
        to right,
        var(--purple-shade-4),
        var(--purple-shade-3)
    );
}

header {
    height: 90px;
}
header .navbar_brand img {
    width: 120px;
    margin-left: -1rem;
}

/* navbar toggler icon  */
header .navbar_toggler {
    /* background-color: var(--purple-shade-1); */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--purple-shade-1);
    box-shadow: -3px -3px 9px var(--purple-shade-2);
    box-shadow: 3px 3px 9px var(--purple-shade-4);
}
header .navbar_toggler span,
header .navbar_toggler span:before,
header .navbar_toggler span:after {
    background-color: var(--purple-shade-4);
    border-radius: 4px;
    height: 4px;
}
header .navbar_toggler span {
    position: relative;
}
header .navbar_toggler span:before,
header .navbar_toggler span:after {
    content: " ";
    position: absolute;
    left: 0;
    width: inherit;
}
header .navbar_toggler span:before {
    top: -7px;
}
header .navbar_toggler span:after {
    bottom: -7px;
}

.offcanvas_body {
    padding-inline-start: 1rem;
}
.offcanvas_body ul li {
    margin-block-end: calc(15rem / 16);
}
.offcanvas_body li a {
    color: var(--white);
}
.offcanvas_body .nav-item .nav-link:active {
    color: var(--purple-shade-2);
}

.dropdown_menu_container {
    background-color: linear-gradient(
        to right,
        var(--purple-shade-3),
        var(--purple-shade-4)
    );
}
.dropdown_menu_container li {
    /* font-size: 0.9rem; */
    margin-block-end: calc(15rem / 16);
}
.dropdown_menu_container li:hover {
    background-color: var(--purple-shade-1);
}

.dropdown_menu_container li a {
    font-size: 0.9rem;
}

@media (min-width: 48em) {
    header {
        max-height: 80px;
    }

    header .navbar_brand img {
        width: 110px;
    }

    header .navbar_toggler span,
    header .navbar_toggler span:before,
    header .navbar_toggler span:after {
        border-radius: 3px;
        /* height: 3px; */
    }
}

@media (min-width: 64rem) {
    .logo img {
        width: 160px;
    }

    header {
        padding: calc(20rem / 16) 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: auto;
    }

    header .navbar_toggler {
        display: none;
    }

    header .offcanvasNavbar {
        border: none;
        position: relative;
        background: none;
        display: contents;
    }

    header .offcanvas_body {
        display: flex;
        margin-inline-start: 4rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 85rem) {
    header .offcanvas_body {
        font-size: 0.9rem;
        margin-inline-start: 6rem;
    }
}
