.footer {
    display: flex;
    flex-direction: column;
    padding-block-end: 0.5rem;
}

.footer .footer-logo {
    order: 5;
}

.footer-logo img {
    width: 150px;
    margin-inline-start: -1rem;
}

.footer .about_ul {
    margin-top: 1rem;
}

footer ul {
    padding: 0;
}
footer {
    color: var(--white);
}
footer ul li {
    padding-block: 0.4rem;
}

footer ul li:first-child {
    padding-block: 0.6rem;
    color: var(--color-4);
}

footer ul li a {
    font-size: 0.9rem;
}
footer ul li a:hover {
    color: var(--color-5);
}
footer ul li a:focus {
    color: var(--color-4);
}

.footer-icons {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 1rem;
    margin-bottom: 0;
}

.footer-icons li a {
    margin: 0;
    padding: 0;
}
.footer-icons li {
    /* outline: 2px solid var(--white); */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.footer-icons li:first-child {
    margin-right: 1rem;
    background: var(--bs-blue);
}
.footer-icons li:nth-child(2) {
    background: var(--bs-red);
}

.footer-icons a svg {
    width: 22px;
    height: 22px;
    margin: 0;
}

.footer-bottom {
    padding-block: 1rem;
    font-size: 0.85rem;
}

@media (min-width: 48em) {
    footer .footer-logo img {
        width: 120px;
    }

    .footer .about_ul {
        margin-top: 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-block-start: 2rem;
    }

    .footer-icons a svg {
        width: 20px;
        height: 20px;
    }

    footer ul a {
        font-size: 0.8rem;
    }

    .footer-bottom p {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media (min-width: 64em) {
    .footer {
        justify-content: space-evenly;
    }

    .footer ul a {
        font-size: 0.9rem;
    }

}
