.footer {
    display: flex;
    flex-direction: column;
    padding-block-end: 0.5rem;
}

.footer .footer-logo {
    order: 5;
}

.footer-logo img {
    width: 150px;
    margin-inline-start: -1rem;
}

.footer .about_ul {
    margin-top: 1rem;
}

footer {
    color: var(--white);
}
footer ul {
    padding: 0;
}
footer ul a {
    color: var(--purple-shade-1);
}
footer ul li {
    /* padding-block: 0.6rem; */
    margin-block: 0.4rem;
}

footer ul li:first-child {
    padding-block: 0.8rem;
}

.footer-icons {
    display: flex;
    align-items: center;
}
.footer-icons a svg {
    width: 25px;
    height: 25px;
}
.footer-icons a svg:first-child {
    margin-inline-end: 2rem;
}

.footer-bottom {
    padding-block: 1rem;
}

@media (min-width: 48em) {
    footer .footer-logo img {
        width: 120px;
    }

    .footer .about_ul {
        margin-top: 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-block-start: 2rem;
    }

    .footer-icons a svg {
        width: 20px;
        height: 20px;
    }

    footer ul a {
        font-size: 0.8rem;
    }

    .footer-bottom p {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media (min-width: 64em) {
    .footer {
        justify-content: space-evenly;
    }

    .footer ul a {
        font-size: 0.9rem;
    }
}
