.footer-logo img {
    width: 200px;
    padding-block: 1rem;
    margin-inline-start: -1rem;
}

footer {
    color: var(--white);
}
footer ul {
    padding-inline-start: 1rem;
}
footer ul a {
    color: var(--purple-shade-1);
}
footer ul li {
    /* padding-block: 0.6rem; */
    margin-block: 0.4rem;
}

footer ul li:first-child {
    padding-block: 0.8rem;
}

.footer-bottom .footer-icons {
    display: flex;
    align-items: center;
}

.footer-bottom p {
    padding-block: 1rem;
    padding-block-end: 2rem;
}

.footer-bottom .footer-icons a svg {
    width: 25px;
    height: 25px;
}
.footer-bottom .footer-icons a svg:first-child {
    margin-inline-end: 2rem;
}

@media (min-width: 768px) {
    footer .footer-logo img {
        width: 150px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
    .footer-bottom p {
        text-align: center;
    }
    .footer-bottom .footer-icons {
        display: flex;
        justify-content: flex-end;
    }
    .footer-bottom .footer-icons li:first-child {
        margin-inline-end: 1rem;
    }
}
