/* * My Custom Styles */
:root {
    --purple-shade-1: hsl(264, 59%, 86%);
    --purple-shade-2: hsl(263, 88%, 64%);
    --purple-shade-3: hsl(263, 61%, 40%);
    --purple-shade-4: hsl(264, 100%, 13%);
    --white: #f9f9f9;

    --font-family-sans-serif: "Lora",
        // Cross-platform generic font family (default user interface font)
        system-ui,
        // Safari for macOS and iOS (San Francisco)
        -apple-system,
        // Windows
        "Segoe UI",
        // Android
        Roboto,
        // older macOS and iOS
        "Helvetica Neue" // Linux
        "Noto Sans",
        "Liberation Sans",
        // Basic web fallback
        Arial,
        // Sans serif fallback
        sans-serif,
        // Emoji fonts
        "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
    /* font-family: "poppins", sans-serif; */
}

body {
    background-color: var(--white);
    color: var(--purple-shade-4);
    font-size: var(--size-1);
}

/* @media (min-width: 60rem) {
    .container {
        max-width: 80rem;
        margin-inline: auto;
    }
} */

.container {
    padding-inline: calc(15rem / 16);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--purple-shade-4);
}
