:root {
  --default-font: 'poppins', 'Arial'; 
  --purple-shade-1: #d6c5f0;
  --purple-shade-2: #9153f4;
  --purple-shade-3: #5727a3;
  --purple-shade-4: #1b0044;
  --white: #f9f9f9;

  --size-1: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--default-font);
  background-color: var(--white);
  font-size: var(--size-1 );
}

.container {
  max-width: 80rem;
}

.container_fluid {
  width: 100%;
  background-image: linear-gradient(to right, var(--purple-shade-4), var(--purple-shade-3));
}

.center {
  margin: auto;
}